html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  background-color: #03dac6; }

header {
  background-color: #018786; }
  header .logo {
    font-size: 2rem;
    padding: 1rem;
    color: white; }

main {
  padding: 2rem; }
  main .sections {
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    grid-gap: 1rem; }
    main .sections section {
      cursor: pointer; }
      main .sections section .card .card-img img {
        height: 15rem; }
      main .sections section .card .card-title {
        font-size: 1.5rem;
        text-align: center; }

.question-body {
  margin-top: 2rem;
  display: grid;
  place-items: center; }
  .question-body .question-card {
    height: auto;
    width: 30rem;
    border: 1px solid #4f4fb3;
    background-color: #a2a2f7;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0.1rem 0.1rem grey; }
    .question-body .question-card .question {
      padding: 1rem 0;
      font-size: 1.2rem; }
    .question-body .question-card .options .option {
      border: 1px solid black;
      padding: 0.6rem;
      margin: 0.3rem 0;
      background-color: lightblue;
      cursor: pointer; }

.btn {
  display: grid;
  place-items: center;
  margin: 2rem 0; }
  .btn button {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px grey;
    color: white;
    font-weight: bold;
    background-color: #6200ee; }

@media screen and (max-width: 900px) {
  main .sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between; } }
